@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  background-color: black !important;
}


.ecocycle-container{
  background-image: url('./assets/Images/background.png');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  color: white;
}

.nav-link-eco {
  margin: 0 8px;
  font-size: 14px !important;
}

@media (max-width: 992px) {
  .navbar-eco:hover {
    background: rgba(0, 0, 0, 0.35);
  }

  .nav-link-eco {
    margin: 0.5rem 0;
  }
}

.f-montserrat {
  font-family: 'Montserrat', sans-serif;
}
