@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  background-color: black !important;
}


.ecocycle-container{
  background-image: url('./assets/Images/background.png');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  color: white;
}

.nav-link-eco {
  margin: 0 8px;
  font-size: 14px !important;
}

@media (max-width: 992px) {
  .navbar-eco:hover {
    background: rgba(0, 0, 0, 0.35);
  }

  .nav-link-eco {
    margin: 0.5rem 0;
  }
}

.f-montserrat {
  font-family: 'Montserrat', sans-serif;
}

/* .h1{
  font-size: 50px;
  font-weight: bold;
  font-family: 'montserrat', sans-serif;
}
.h2{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'montserrat', sans-serif;
}
.h3{
  font-size: 15px;
  font-weight: lighter;
  font-family: 'montserrat', sans-serif;
}

.btn{
  margin-top: 20px;
  font-weight: bold;
  background-color: rgb(141, 238, 44);
  border-radius: 50px;
  padding : 15px 50px;
  border : none;
  font-family: 'montserrat', sans-serif;
} */
