@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif; 
}

:root {
  --main-color: #01A3B0 !important;
  --main-color-hover: #018a95 !important;
  --main-color-disable: #7AC8CF !important;
  --main-color-light: #f3feff !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.torn-top {
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  height: 250px;
  background-color: #F8F9FA;
  mask-image: url('./assets/images/paper-torn.png');
  -webkit-mask-image: url('./assets/images/paper-torn.png');
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-position: top center;
  -webkit-mask-position: top center;
  transform: translateY(-70px);
  z-index: 21;
}

@keyframes expand {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(50);
    opacity: 0.5;
  }
  100% {
    transform: scale(100);
    opacity: 0;
  }
}

.expand-circle {
  position: absolute;
  border-radius: 9999px;
  animation: expand 4s ease-out forwards;
}

.circle-1 {
  width: 6rem;
  height: 6rem;
  background-color: #018a95;
  animation-delay: 0s;
}

.circle-2 {
  width: 6rem;
  height: 6rem;
  background-color: #21aab5;
  animation-delay: 0.5s;
}

.circle-3 {
  width: 6rem;
  height: 6rem;
  background-color: #6dd6dc;
  animation-delay: 1s;
}


